@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
}
header {
  background: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 25px;
}
header a {
  color: #5a5a5a;
}
.all-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.about-wrapper {
  background-color: #6244c5;
  padding: 180px 0 120px;
  margin-bottom: 120px;
}
