@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  font-family: "Montserrat", sans-serif;
}
:root {
  --main-color: #12141d;
  --grey-color: #5a5a5a;
}
a {
  text-decoration: none;
}
.font-size-18 {
  font-size: 18px;
}
.font-size-14 {
  font-size: 14px;
}
.font-500 {
  font-weight: 500;
}
.main-color {
  color: var(--main-color);
}
.grey-color {
  color: var(--grey-color);
}
.btn-default {
  text-decoration: none;
  color: #fdfdfd;
  font-weight: 700;
  background-color: #6244c5;
  border-radius: 16px;
  padding: 22px 40px 23px;
  display: inline-block;
  white-space: nowrap;
  word-wrap: break-word;
  transition: all 0.3s ease;
}
.btn-black {
  font-weight: 700;
  background-color: var(--main-color);
  border-radius: 16px;
  font-size: 14px;
  padding: 8px 16px;
  color: #fdfdfd;
  display: inline-block;
}
.btn-white {
  text-decoration: none;
  color: var(--main-color);
  font-weight: 700;
  background-color: white;
  border-radius: 16px;
  padding: 22px 40px 23px;
  display: inline-block;
  white-space: nowrap;
  word-wrap: break-word;
  transition: all 0.3s ease;
}
.simple-button {
  text-decoration: none;
  color: var(--main-color);
  font-weight: 700;
  display: inline-block;
  position: relative;
}
.simple-button::after {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  left: auto;
  left: 0;
  bottom: 0px;
  transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  background: var(--main-color);
}
.text {
  margin-bottom: 70px;
}
.simple-button:hover::after {
  width: 100%;
}
.btn-default:hover {
  background: var(--main-color);
}
.btn-white:hover {
  background: var(--main-color);
  color: white;
}
.btn-white:hover svg path {
  fill: white;
}
header {
  background: #fafafa;
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
  left: 0;
  padding: 25px;
}
header.scrolled {
  box-shadow: 3px 3px 9px rgba(164, 164, 186, 0.2);
  background: #fff;
}
header a {
  font-weight: 500;
}
.hero-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: #fafafa;
}
.job {
  padding-left: 97px;
}
.job::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 1px;
  background-color: var(--main-color);
  left: 0;
  top: 15px;
}
.social-links a {
  text-decoration: none;
  display: inline-block;
  position: relative;
  width: 56px;
  height: 56px;
  background-color: #f6f6f6;
  border-radius: 100%;
  transition: all 0.3s ease;
}
.social-links a:hover {
  background-color: var(--main-color);
}
.social-links a:hover i {
  color: white;
}
.social-links a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--main-color);
}
.hero-wrapper h1 {
  font-size: 70px;
  font-weight: 500;
  letter-spacing: -4px;
}
.about-wrapper {
  background-color: #6244c5;
  padding: 180px 0 120px;
  margin-bottom: 120px;
}
.about-wrapper:target {
  scroll-margin-top: 100px;
}
.skills-wrapper:target {
  scroll-margin-top: 200px;
}
.projects-wrapper:target {
  scroll-margin-top: 90px;
}
.contact-wrapper:target {
  scroll-margin-top: 100px;
}
.about-wrapper h1 {
  letter-spacing: -2px;
  font-size: 56px;
  color: white;
  font-weight: 700;
  position: relative;
}
.about-wrapper h1::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 1px;
  background-color: white;
  bottom: 16px;
  margin-left: 15px;
  left: 100%;
}
.about-wrapper .arrow {
  position: absolute;
  top: 0;
  right: 100%;
  margin-right: 15px;
  margin-top: -20px;
}
.about-wrapper p {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
  line-height: 32px;
  font-size: 18px;
}
.contact-wrapper {
  background: var(--main-color);
  padding: 135px 0 120px;
}
footer {
  background-color: #ffc448;
  padding: 25px 0;
}

.letter-a {
  color: var(--main-color);
  font-size: 25px;
  font-weight: 500;
  font-style: normal;
}
.letter-l {
  font-size: 40px;
  color: #ffc448;
  font-weight: 700;
  font-style: normal;
}
.skills-wrapper h1 {
  letter-spacing: -2px;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
  display: inline-block;
  color: var(--main-color);
}

.skills-wrapper h1 span::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 1px;
  background-color: var(--main-color);
  bottom: 16px;
  margin-left: 15px;
  left: 100%;
}
.filters li {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 16px;
  margin-right: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.filters li.active {
  border: 1px solid var(--main-color);
}
.tab-wrapper {
  position: relative;
  min-height: 450px;
}
.skillbox,
.education,
.experience {
  transition: transform ease-in 0.5s, opacity 0.3s ease-in;
  transform: translateX(50px);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.skillbox.active-tab,
.education.active-tab,
.experience.active-tab {
  transform: translateX(0);
  opacity: 1;
}
.filters li:hover {
  border: 1px solid var(--main-color);
}
.filters li a {
  padding: 20px 40px;
  text-decoration: none;
  font-weight: 700;
  display: inline-block;
  position: relative;
}
.education,
.experience,
.skillbox {
  margin-top: 96px;
}
.skillbox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  row-gap: 35px;
  width: 100%;
}

.experience .year,
.education .year {
  color: #6244c5;
  display: block;
  margin-bottom: 2px;
  font-weight: 500;
}
.experience .company,
.education .company {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  word-wrap: break-word;
  font-weight: 400;
  color: var(--main-color);
}
.experience h3,
.education h3 {
  font-size: 21px;
  position: relative;
}
.education h3::before,
.experience h3::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 1px;
  background-color: var(--main-color);
  top: -10px;
  left: 0px;
}

.experience .content,
.education .content {
  margin-bottom: 25px;
}
.skillbox i {
  font-size: 32px;
}
.projects-wrapper {
  padding: 120px 0 110px;
  background: #ffc448;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.fullbox-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
}
.swiper-slide h3 {
  text-underline-offset: 0.35rem;
  margin-top: 25px;
  text-decoration: underline;
}

.swiper-slide img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: auto;
  max-height: 535px;
}
.projects-wrapper h1 {
  letter-spacing: -2px;
  font-size: 56px;
  color: var(--main-color);
  font-weight: 700;
  position: relative;
  display: inline-block;
  margin-bottom: 65px;
}
.projects-wrapper h1::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 1px;
  background-color: var(--main-color);
  bottom: 16px;
  margin-left: 15px;
  left: 100%;
}
.contact-wrapper h3 {
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: -2px;
  color: #fff;
}
.contact-wrapper p {
  font-weight: 300;
  line-height: 32px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}
.contact-wrapper a {
  font-size: 28px;
  color: white;
  font-weight: 500;
}
.contact-wrapper .content {
  margin-bottom: 115px;
}
.title-name {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  margin-bottom: 10px;
}
.contact-wrapper .social-links a {
  background-color: rgba(255, 255, 255, 0.15);
}
.contact-wrapper .social-links a:hover {
  background-color: white;
}
.contact-wrapper .social-links a:hover i {
  color: var(--main-color);
}
.contact-wrapper .social-links a i {
  color: white;
  font-size: 16px;
}
.contact-wrapper .line {
  position: absolute;
  bottom: 0;
  left: 0;
}
.contact-wrapper .arrow {
  position: absolute;
  top: 0;
  right: 100%;
}
@media (max-width: 991px) {
  header {
    padding: 0;
  }
}
@media (max-width: 567px) {
  .hero-wrapper h1,
  .about-wrapper h1,
  .skills-wrapper h1,
  .projects-wrapper h1,
  .contact-wrapper h3 {
    font-size: 30px;
  }
  .hero-wrapper h1 {
    letter-spacing: 0;
  }
  .filters ul {
    flex-direction: column;
  }
  .education,
  .experience,
  .skillbox {
    margin-top: 36px;
  }
  .about-wrapper {
    margin-bottom: 60px;
  }
  .tab-wrapper {
    min-height: 250px;
  }
  .projects-wrapper {
    padding: 60px 0 50px;
  }
  .contact-wrapper .arrow {
    position: absolute;
    top: 0;
    right: auto;
    left: 0;
    transform: translateY(-50%);
  }
  .contact-wrapper a {
    font-size: 16px;
  }
  .contact-wrapper {
    padding: 65px 0 60px;
  }
  .contact-wrapper .line {
    z-index: -1;
  }
  .contact-wrapper .content {
    margin-bottom: 45px;
  }
}
.me-img {
  width: 100%;
  max-width: 480px;
  border-radius: 30px;
  filter: grayscale(85%);
}
